html {
    background-color: #0f0f0f;
    font-family: monospace;
    padding: 10px;
    color: whitesmoke;
    zoom: 130%;
}

button {
    font-family: monospace;
    border-radius: 10px;
    border: 0px;
    background-color: #202125;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
    background-color: dimgray;
    color: white;
}

hr {
    border-color: dimgray;
    border-style: solid;
    border-radius: 15px;
    max-width: 500px;
}

.liteAppsGitHubBtn {
    margin-top: 5px;
}

.buttonFrame {
    max-width: 650px;
}

.topBarFrame button {
    font-weight: bold;
}

.topBarFrame h1 {
    font-size: large;
}

.mainName p {
    max-width: 650px;
}